@using WebAppAspNetMvcImportExcel.Models
@model ImportOrderViewModel

<h3>Импорт услуг</h3>

@using (Html.BeginForm("Import", "ImportOrders", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.EditorForModel()

    @Html.ActionLink("Пример файла", "GetExample", null, new { @class = "btn btn-warning" })
    <input type="submit" value="Сохранить" class="btn btn-success" />
}