@using WebAppAspNetMvcExportExcel.Models;
@model List<LogHistory>

<h3>Услуги</h3>

<a href="/ImportOrders/GetXlsx" class="btn btn-outline-light bg-secondary" title="Скачать таблицу в Excel">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-spreadsheet" viewBox="0 0 16 16">
        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V9H3V2a1 1 0 0 1 1-1h5.5v2zM3 12v-2h2v2H3zm0 1h2v2H4a1 1 0 0 1-1-1v-1zm3 2v-2h3v2H6zm4 0v-2h3v1a1 1 0 0 1-1 1h-2zm3-3h-3v-2h3v2zm-7 0v-2h3v2H6z" />
    </svg>
</a>


<table class="table table-hover table-bordered" style="text-align:center">
    <thead>
        <tr class="bg-secondary text-white">
            <th style="text-align:center">
                Импорт начат в:
            </th>
            <th style="text-align:center">
                Импорт закончен в:
            </th>
            <th style="text-align:center">
                Распознанных строк
            </th>
            <th style="text-align:center">
                Не распознанных строк
            </th>
            <th style="text-align:center">
                Удалить запись импорта
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var logHistory in Model)
        {
        <tr>
            <td>
                @logHistory.StartImport
            </td>
            <td>
                @logHistory.EndImport
            </td>
            <td>
                @logHistory.SuccessCount
            </td>
            <td>
                @logHistory.FailedCount
            </td>
            <td class="grid-cell-action">
                <div class="btn-group mb-3">
                    <a href="/ImportOrders/DeleteLog/@logHistory.Id" class="btn btn-outline-secondary" title="Удалить запись">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>


                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

